.Estructura_descripcion {
   height: 100%;
   width: 100%;
  display: flex;
  flex-direction: row
}
.Estructura_descripcion_img{
    width: 40rem;
    height: 40rem;
    margin: 30px;
    border: solid 10px white;
    
}
.Estructura_descripcion_texto{
    color: white;
   margin: 30px;
   font-weight: 500;
   font-size: 20.9px;
}
@media screen and (max-width:768px) {
.Estructura_descripcion{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Estructura_descripcion_texto{
    text-align: center;
}
.Encabezado{
    width: 100%;
}
}